.FieldPickerMenu {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 260px;
    position: absolute;
    right: 0;
    top: 30px;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 10px;
    transition: box-shadow 280ms cubic-bezier(0.4,0.0,0.2,1);
    border-radius: 8px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
    
}



.ant-affix {

}

.FieldPickerMenu button {
    border: 0px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}